.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#header-top {
	img {
		margin: 0 auto;
		height: 150px;
	}
	.heading__secondary {
		color: #7b24ac;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 700;
		margin-top: -10px;
	}
	h1 {
		margin-top: 50px;
	}
	.roulette {
		margin-bottom: 200px;
	}
}
