@import '_vars.scss';
@import '_mixins.scss';
@import '_typography.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1em;
	height: 100%;
}

body {
	background-color: $grey;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.45;
	color: $grey-text;
	background: red;
	height: 100%;
	margin: 0;
	background: #21283d; /* Old browsers */
	background: -moz-linear-gradient(
		top,
		#21283d 1%,
		#7a24aa 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		#21283d 1%,
		#7a24aa 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		#21283d 1%,
		#7a24aa 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom, #21283d 1%, #7a24aa 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* Old browsers */
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	// width: 100%;
	// height: auto;
	max-width: 100%;
	display: block;
}
a .wrapper {
	width: 90%;
	margin: 0 auto;
}
.let {
	width: 100px;
	height: 100px;
}
