html {
    font-size: 1em;
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 1.3em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}